<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<div class="background-image" [style.background-image]="'url(./assets/background.jpg/)'">
  <div class="title">
    Loop Machine
  </div>
  <div class="row activity-buttons">
    <div class="col">
      <button
        (click)="playAllLoops()"
        >
        <i class="fas fa-play fa-lg activity-button"></i>
      </button>
    </div>
    <div class="col">
      <button
        (click)="pauseAllLoops()"
        >
        <i class="fas fa-pause fa-lg activity-button"></i>
      </button>
    </div>
    <div class="col">
      <button
        (click)="recordSession()"
        >
        <i class="fas fa-record-vinyl fa-lg activity-button"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div cdkDropList class="itemList" (cdkDropListDropped)="drop($event)">
        <div class="item" *ngFor="let loop of loopPads" cdkDrag >
          <div class="row">
            <div class="col">
              <mat-slide-toggle class="slide-toggle" color="primary"
                (checked)="loopPadsActivity.get(loop)"
                (change)="updateLoopState($event, loop)">
              </mat-slide-toggle>
            </div>
          </div>
          <div class="slide-toggle">
            {{getCutLoopName(loop) }}
          </div>
          <img *ngIf="isLoopOnPlay(loop)" [src]="imageSrc" style="height: 25px; width: 25px;">
        </div>
      </div>
    </div>
  </div>
</div>

